
.gcp-body {
  height: 100%;
  width: 100%;
}
.menu-static {
  height: 100%; 
  width: 59px; 
  background-color: #0631a0;
}
.menu-static .hamburger {
  margin: 16px 0px 10px 12px;
  cursor: pointer;
}
.sidenav-container {
  background-color: #0631a0;
  width: 206px;
}
::ng-deep .mat-drawer-content {
  overflow: hidden !important;
}
.mat-drawer-container {
  height: 100%;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  font-family: Roboto;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #f6f7f9;
}
.main-content {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: #f6f7f9;
  overflow: auto;
}
.content-wrap {
  width: 96%;
  height: 100%; 
  margin: 20px;
}
.content-wrap .header {
  height: 38px;
    padding: 8px 0px 0px 20px;
    background-color: #0631a0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 1px;
    border-radius: 2px;
}
.content-wrap .header-text {
  float: left;
}
.content-wrap .close {
  float: right;
  font-size: 16px;
  cursor: pointer;
  margin: 0 15px 0px 0px;
}
.content-wrap .content {
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(193, 202, 212, 0.7);
  border-left: solid 1px #c1cad4;
  border-right: solid 1px #c1cad4;
  border-bottom: solid 1px #c1cad4;
  min-height: 412px;
}
.content-wrap .cancel {
  margin-right: 20px;
}
.content-wrap .mat-raised-button.mat-primary {
  color: #ffffff;
  background-color:#0abf21 !important;
}
.class-list-wrapper {
  height: 570px; 
  overflow: auto;
  padding-right: 5px;
}
.card-box {
  font-size: 26px;
  font-weight: 500;
  color: #0abf21;
  background-color: #ffffff;
  margin-top: 15%;
}
.my-calendar {
  font-size: 14px;
  font-weight: 400;
}
::ng-deep .my-calendar .fc-allow-mouse-resize {
  cursor: pointer;
}
::ng-deep .my-calendar .fc-toolbar.fc-header-toolbar {
  font-size: 12px;
}
::ng-deep .my-calendar .fc-toolbar.fc-header-toolbar h2 {
  font-weight: 400;
}
::ng-deep .my-calendar th {
  font-weight: 400;
}
::ng-deep .error-message {
  color: #f5f6f7;
  background-color: #d64a84;
}

.directory .request-field {
  width: 97%;
  height: 50px;
  font-size: 12px;
}

.header .close-cross {
  float: right;
  font-size: 18px;
  cursor: pointer;
  margin: 2px 3px 0 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
   
}

@media only screen and (device-width: 1366px) and (orientation:landscape) {
  
}

@media only screen and (min-device-width: 1900px) and (max-device-width: 1920px) and (orientation:landscape) {
  .class-list-wrapper {
    height: 1050px;
  } 
}