<div class="add-student-assignment-weight-wrapper">
  <div class="header">
    <div class="header-text">Check Student Assignments</div>
    <mat-icon aria-hidden="false" class="close-cross" (click)="onCancelClick()" aria-label="Example close icon">close</mat-icon>
  </div>
  <div class="content" style="text-align: center; padding-top: 10%;" *ngIf="gradeArrayList.submittedby.length === 0">
    No student has submitted.
  </div>
  <div class="content" *ngIf="gradeArrayList.submittedby.length > 0">
    <table >
      <thead>
          <th>Submitted Date</th>
          <th>Due Date</th>
          <th>Student Name</th>
          <th>Assignment Name</th>
          <th style="width: 6%;">Marks</th>
          <th style="width: 6%;">Out Of</th>
          <th style="width: 8%;">Incomplete</th>
          <th style="width: 8%;">Action</th>
      </thead>
      <tr *ngFor="let item of gradeArrayList.submittedby; let indexOfelement=index;">
          <td>{{formatDate(item.submittedon)}}</td>
          <td>{{formatDate(gradeArrayList.validupto)}}</td>
          <td>{{item.name}}</td>
          <td><div>{{item.filename}}</div></td>          
          <td>
            <input [(ngModel)]="item.mark" id="mark" [name]="item.mark + '_' + indexOfelement" autocomplete="off">
          </td>
          <td>
            <input [(ngModel)]="item.outof" id="outof" [name]="item.outof + '_' + indexOfelement" autocomplete="off">
          </td>
          <td>
            <select [(ngModel)]="item.incomplete" id="incomplete" [name]="item.incomplete + '_' + indexOfelement" autocomplete="off">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
          </td>
          <td>
            <button mat-raised-button (click)="saveWeight(item)" color="primary" type="button" style="line-height: 28px; font-size: 12px; padding: 0px;">Submit</button>
          </td>
      </tr>
    </table>
  </div>
</div>