::ng-deep .profile-new-class mat-dialog-container {
  padding: 0;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ffffff;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  cursor: pointer;
  color: #ffffff;
  padding: 7px 8px 7px 8px;
  background-color: #0abf21;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}
.file-error {
  height: 15px;
  color: red;
  font-size: 12px;
  text-align: center;
  padding: 2px 0 0 0;
}
.well-create {
    height: 70%; 
  }
  .well-create .header {
    height: 38px;
      padding: 8px 0px 0px 20px;
      background-color: #0631a0;
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 1px;
      border-radius: 2px;
  }
  .well-create .header-text {
    float: left;
  }
  .well-create .close-cross {
    float: right;
    font-size: 18px;
    cursor: pointer;
    margin: 2px 3px 0 0;
  }
  .well-create .content {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgba(193, 202, 212, 0.7);
    border-left: solid 1px #c1cad4;
    border-right: solid 1px #c1cad4;
    border-bottom: solid 1px #c1cad4;
  }
  .well-create .request-field {
    width: 100%;
    height: 55px;
    font-size: 12px;
  }
  .request-field-time {
    width: 30%;
    height: 55px;
    font-size: 14px;
    margin: 10px 10px 0 0;
  }
 .request-field-day {
    width: 23% !important;
    margin: 0 10px 0 0;  
  }
  .request-field-month {
    width: 74% !important;
  }
  .well-create .email-setup .request-field {
    width: 30%;
    margin-right: 10px;
  }
  .well-create .email-setup .data-access {
    width: 18%;
  }
  .well-create .email-setup .inform {
    width: 12%;
  }
  .well-create .description {
    margin-bottom: 15px;
  }
  .well-create .form-action {
    margin-top: 35px;
  }
  .well-create .cancel {
    margin-right: 20px;
  }
  .well-create .mat-raised-button.mat-primary {
    color: #ffffff;
    background-color:#0abf21 !important;
  }
  .fixed-collapse-button {
    position: fixed;
    top: 2%;
    right: 2%;
    cursor: pointer;
    font-size: 22px;
    object-fit: contain;
  }
  .well-create .request-type {
    height: 100%;
    width: 38%;
    padding: 20px 0px 0 20px;
    font-size: 14px;
    line-height: 3;
    color: #364653;
  }
  .well-create .request-type-box {
    width: 160px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .well-create .request-type-box:hover {
    font-weight: 500;
    color: #0631a0;
    border-radius: 4px;
    background-color: rgba(32, 135, 231, 0.14);
    width: 160px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
  }
  .well-create .request-type-box:hover:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgba(32, 135, 231, 0.14);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .well-create .selectedType {
    font-weight: 500;
    color: #0631a0;
    border-radius: 4px;
    background-color: rgba(32, 135, 231, 0.14);
    width: 160px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    cursor: pointer;
  }
  .well-create .selectedType:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgba(32, 135, 231, 0.14);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .well-create .request-form {
    height: 100%;
    width: 100%;
    padding: 0px 0px 5px 0px;
  }
  .well-create .form-title {
    height: 25px;
    font-size: 20px;
    color: #0631a0;
    margin-bottom: 25px;
  }
  .well-create .request-form-content {
    height: 100%;
    width: 100%;    
  }
  .well-create .add-new-contact{
    color: #0631a0;
    font-size: 12px;
    width: 105px;
    margin-top: 5px;
    cursor: pointer;
  }
  .well-create .add-new-contact:hover{
    font-weight: 500;
  }
  ::ng-deep .custom-snackbar {
      background-color: #FFF;
      color: black;
      top: 10%;
  }
  .profile-image {
    border: 1px solid #c1cad4;
    width: 130px;
    height: 130px;
    border-radius: 68px;
    margin-top: 2px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick { 
    color: #c1cad4; 
}
.profile-form {
  overflow: auto;
  padding: 0 10px 20px 20px;
  height: 335px;
}

@media only screen and (min-device-width: 1900px) and (max-device-width: 1920px) and (orientation:landscape) {
  .profile-form {
    overflow: none !important;
    padding: 0 20px 20px 20px;
    height: auto !important;
  }
}