.gcp-body {
  height: 100%;
  width: 100%;
}
.menu-static {
  height: 100%; 
  width: 59px; 
  background-color: #0631a0;
}
.menu-static .hamburger {
  margin: 16px 0px 10px 12px;
  cursor: pointer;
}
.sidenav-container {
  background-color: #0631a0;
  width: 206px;
}
::ng-deep .mat-drawer-content {
  overflow: hidden !important;
}
.mat-drawer-container {
  height: 100%;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 0;
  font-family: Roboto;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  background-color: #f6f7f9;
}
.main-content {
  width: 100%;
  position: relative;
  background-color: #f6f7f9;
  overflow: auto;
}
.content-wrap {
  width: 96%;
  height: 100%; 
  margin: 20px;
}
.content-wrap .header {
  height: 38px;
    padding: 8px 0px 0px 20px;
    background-color: #0631a0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 1px;
    border-radius: 2px;
}
.content-wrap .header-text {
  float: left;
}
.content-wrap .close-cross {
  float: right;
  font-size: 18px;
  cursor: pointer;
  margin: 2px 3px 0 0;
}
  .content-wrap .mat-raised-button.mat-primary {
    color: #ffffff;
    background-color:#0abf21 !important;
  }
.class-detials .wrapper {
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(193, 202, 212, 0.7);
  border: 1px solid #c1cad4;
  background-color: #ffffff;
}
.class-detials .card-box {
  line-height: 1.5;
  border-right: 1px solid #c1cad4;
  vertical-align: middle;
  font-size: 15px;
  padding: 15px 0 15px 15px;
}
.class-detials .right-box {
  border-radius: 3px;
  box-shadow: 0 0 3px 0 rgba(193, 202, 212, 0.7);
  border: 1px solid #c1cad4;
  background-color: #ffffff;
  padding: 15px;
  margin-top: 10px;
}
.class-detials .font-500 {
  font-weight: 500;
}
.class-detials .header-inside {
  border-bottom: 1px solid #c1cad4;
  margin: 0 15px 10px 0px;
  font-weight: 400;
  font-size: 14px;
}
.class-detials .header-inside2 {
  margin: 50px 15px 10px 0px;
}
.card-box button {
  margin-bottom: 10px;
  width: 180px;
  text-align: left;
}
.class-detials .class-stretched-tabs {
  max-width: 100%;
}
.class-detials .request-form {
  height: 100%;
  width: 100%;
}
.class-detials .request-form-content {
  height: 100%;
  width: 100%;    
}
.class-detials .request-field {
  font-size: 14px;
  width: 22%;
}
.search {
  width: 20%;
}
.clear-button {
  height: 24px !important;
}
.margin-right {
  margin-right: 20px;
}
.note-list {
  width: 100%
}
.note-list .header-inside {
  border-bottom: 1px solid #0631a0;
  margin: 15px 15px 15px 0px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 5px;
}
.note-list .note-list-separator {
  margin-top: 10px;
}
.note-list .font-14 {
  font-size: 14px;
}
.note-list .break-word {
  word-break: break-word;
}
.note-list button {
  height: 20px;
  line-height: 0px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px 5px 0;
}
.no-record {
  text-align: center;
}
.doc-wrapper {
  height: 400px; 
  overflow: auto; 
  padding-right: 10px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick { 
  color: #c1cad4; 
}
::ng-deep .mat-calendar-body-cell-content {
  background: orange;
}
::ng-deep .mat-calendar-body-disabled .mat-calendar-body-cell-content {
  background: #f9f8f8;
}
::ng-deep .mat-calendar-body-selected {
  background-color: #3f51b5;
  color: #fff;
}
::ng-deep .success-message {
  color: #364653;
  background-color: #d4edda;
}
::ng-deep .error-message {
  color: #f5f6f7;
  background-color: #d64a84;
}
@media only screen and (min-device-width: 1900px) and (max-device-width: 1920px) and (orientation:landscape) {
  .doc-wrapper {
    height: 800px;
  }
}