<div class="geochempro-login">
    <div class="login-content">
      <div class="div-left"></div>
      <div class="div-right">
        <!-- <div class="logo-image"></div> -->
        <div class="form-container">
          <div class="actv-text-info" *ngIf="activated">
            Your account is now active. Please check your mail for the password. 
            <br/><br/><br/>
            <a href="/">Click Here</a> for login
          </div>
          <div class="actv-text-info" *ngIf="notActivated">
            Enable to activate your account. Please contact your ADMIN to resolve the issue. 
          </div>
        </div>
      </div>
    </div>
    <div class="footer-text">Powered by Trueleap Platform  |  Copyright © Trueleap 2021</div>
  </div>