<div class="main-content">
  <div class="well-create">
    <div class="header">
      <div class="header-text">Change Password</div>
      <mat-icon aria-hidden="false" class="close-cross" (click)="onCancelClick()" aria-label="Example close icon">close</mat-icon>
    </div>
    <div class="content">
      <form #authForm="ngForm" (ngSubmit)="onSave(authForm)" class="profile-form">
        <div fxLayout="row" fxLayoutAlign="start none">
          <div class="request-form">
            <div class="request-form-content">
              <mat-form-field class="request-field" appearance="outline">
                <mat-label>Current Password</mat-label>
                <input matInput [(ngModel)]="profileData.currentpassword" type="password" id="currentpassword" name="currentpassword" placeholder="Enter Your Here" autocomplete="off" required>
              </mat-form-field>
              <mat-form-field class="request-field" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [(ngModel)]="profileData.password" type="password" id="password" name="password" placeholder="Enter Your Here" autocomplete="off" required>
              </mat-form-field>
              <mat-form-field class="request-field" appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input matInput [(ngModel)]="profileData.cpassword" type="password" id="cpassword" name="cpassword" placeholder="Enter Your Here" autocomplete="off" required>
              </mat-form-field>
            </div>
            <!-- <div style="height: 30px;">
              <div style="font-size: 12px; text-align: center; color: orangered;" *ngIf="error">
                Password mis-matched. Please re-enetr proper passwords !
              </div>
            </div> -->
          </div> 
        </div>
        <div fxLayout="row" fxLayoutAlign="center none">
          <button mat-raised-button color="primary" type="submit">Reset</button>
        </div>
      </form>
    </div>
  </div>    
</div>